body { 
	background: url(../img/background.png) no-repeat center center fixed;
	font-family: 'Lato', sans-serif;	
}

a {
	color: #616161;
	text-decoration: none;
	font-size: 50px;

}

#body-container {
	width: 100%;
	height: 100%;
}

#heading {
	color: white;
	font-size: 25px;
	left: 25px;
	top: 25px;
	position: fixed;
}

#taiwan {
	left: 75%;
	top: 42%;
	position: absolute;
}

#washington {
	position: absolute;
	left: 19.5%;
	top: 33%;
}


#berkeley {
	position: absolute;
	left: 21%;
	top: 39%;
}